body {
    font-family: 'Arial', sans-serif;
    background-color: #E8F5E9; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #FFFDE7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #388E3C; 
}

p {
    color: #6A1B9A; 
    font-size: 1.2em;
}